    .box{
        display: flex;
        flex-wrap: wrap;
        background-color: brown;
    }
    .block{
        width: 100px;
        height: 100px;
        margin: 5px;
        background-color: white;
    }